{% extends "layout.html" %}
{% block title %} Update book - MyLibrary {% endblock %}
{% block cotent %}
  <div class="banner">
    <a class="btn" href="{% url 'books' %}">Back to list</a>
    <h2>Update Book</h2>
  </div>
  <div>
    <form action="{% url 'updateBook' book_id %}" method="POST">
      {% csrf_token %}
      <h2>Enter book details</h2>
      {% if form.errors %}
      <div class="errors">
        <ul>
          {% for field, errors in form.errors.items %}
            {% if field == 'publish_date' %}
          <li>Publish date: {{ errors }}</li>
            {% else %}
          <li>{{ field }}: {{ errors }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div>
        <label>Title</label>
        <input type="text" name="title" class="input" value="{{ form.title.value }}" required />
      </div>
      <div>
        <label>Author</label>
        <input type="text" name="author" class="input" value="{{ form.author.value }}" required />
      </div>
      <div>
        <label>Publish date </label>
        <input type="date" name="publish_date" class="input" {% if form.publish_date.value %}value="{{ form.publish_date.value|date:'Y-m-d' }}"{% endif %} required />
      </div>
      <div>
        <input type="checkbox" name="availability" id="available" {{ form.availability.value|yesno:"checked,off" }} />
        <label for="available">Available</label>
      </div>
      <div>
        <button class="btn">Update book</button>
      </div>
    </form>
  </div>
{% endblock %}
{% block styles %}
<style>
  form {
    max-width: 560px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: white;
    padding: 24px;
  }
  form .input {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: inherit;
    font-family: inherit;
    outline: none;
  }
  ul {
    list-style-type: none;
    color: red;
    font-style: italic;
  }
  ul ul {
    margin-left: 1rem;
  }
  button.btn {
    width: 100%;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 12px;
  }
</style>
{% endblock %}
